<div class="container">
    <div class="row">
        <section class="col-3">
            <h5 class="text-warning ml-3">Sort</h5>
            <select class="custom-select mb-3">
                <option>Alphabetical</option>
                <option>Price: Low to High</option>
                <option>Price: High to Low</option>
            </select>

            <h5 class="text-warning ml-3">Types</h5>
            <ul class="list-group">
              <li class="list-group-item" 
                *ngFor="let item of productTypes"
                [value] = "item.id"
                (click) = "onSelectProductType(item.id)"
                [class.active] = "item.id === typeIdSelected"
              >
                {{item.name}}
              </li>
            </ul>

            <h5 class="text-warning ml-3">Brands</h5>
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let item of brands">{{item.name}}</li>
            </ul>
            
        </section>

        <section class="col-9">

          <div class="d-flex justify-content-between align-items-center pb-2">
            <header>
              <span>Showing <strong>10</strong> of <strong>16</strong> Results</span>
            </header>

            <div class="row align-items-center">
              <div class="col">
                <input type="text" class="form-control" placeholder="Search" style="width: 200px;">
              </div>
              <div class="col">
                <button class="btn btn-outline-primary my-2">
                  <fa-icon [icon]="faSearch"></fa-icon>
                </button>
              </div>
              <div class="col">
                <button class="btn btn-outline-success my-2">
                  <fa-icon [icon]="faRefresh"></fa-icon>
                </button>
              </div>
            </div>

          </div>

          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col" *ngFor="let item of products">
              <app-product-item [product]="item"></app-product-item>
            </div>
          </div>

        </section>
    </div>
</div>